body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.weather-app {
  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 350px;
  height: 350px;;
  text-align: center;
}

input {
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px 0;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  margin: 5px;
}

button.clear {
  background-color: #e74c3c;
}

#weatherList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  background:linear-gradient(#b92b27,#1565C0);
  color: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
